.navbar-toggler{
    border: 0px;
    padding: 0;
    padding-right: 8px;
    position: relative;
    top: 1px;
}

.navbar-toggler:focus{
    box-shadow: none;
}

@media screen and (max-width:767px) {
    .navbar-brand img{
        width: 25px;
    }
}