.fs {
    font-size: 9px;
}

.social-icon {
    width: 32px;
    height: 32px;
    display: inline-block;
    border: 1px solid white;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.dropdown-menu-custom{
    transform: none !important;
    background-color: black !important; 
}

@media screen and (min-width:767px) {
    .border-md {
        border-bottom: 1px solid white;
    }
}

@media screen and (max-width:767px) {
    .border-responsive {
        border-bottom: 1px solid white;
    }
}